<!DOCTYPE html>
<html>
<head>
  <title>FACTA | Ancient Rome Fun Facts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://use.fontawesome.com/ee14bb1f23.js"></script>
</head>
<body>
<div class="navbar">
<%= link_to 'Ancient Rome Fun Facts', root_path %>
</div>

 <% if flash[:error].present? %>
      <div class="alert alert-danger">
        <%= flash[:error] %>
      </div>
      <br/>
<% end %>
 <% if flash[:success].present? %>
      <div class="alert alert-success">
        <%= flash[:success] %>
      </div>
      <br/>
<% end %>

<br/><br/>
<div class="text-center">
<%= link_to 'All Facts', all_path, class: 'btn-nav' %>
<!-- Button trigger modal -->
<%= link_to 'Add Fact', '#', class: 'btn-nav', data: {toggle: 'modal', target: '#addFact'} %>
<br/><br/>
<%= form_tag(facts_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "e.g. gladiators", class: 'search-input' %>
  <%= submit_tag "Search", :name => nil, class: 'btn btn-info' %>
<% end %>
</div>
<br/><br/>

<%= yield %>

<!-- New fact modal -->
  <div class="modal fade" id="addFact" tabindex="-1" role="dialog" aria-labelledby="addFactLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2>Add a fact</h2>
        </div>
        <div class="modal-body">
          <div class="form">
            <%= simple_form_for Fact.new do |f| %>
              <%= f.input :text, label: "Fact" %>
              <br>
              <%= f.input :initial_citation, label: "Citation" %>
              <i>Optional: Add a primary source citation. Super optional: Quote the original Latin/Greek source and translate it.</i>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-submit" data-dismiss="modal">Close</button>
          <%= f.submit 'Submit', class: 'btn btn-info' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<div class="footer">
      Made by <a class="contact" href="http://www.kellylougheed.com" target="_blank">Kelly Lougheed</a>. <a href="mailto:hello@kellylougheed.com?Subject=Hello"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> <a href="https://www.linkedin.com/in/kelly-lougheed-ba147b121" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a> <a href="https://github.com/kellylougheed" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a> <a href="http://www.twitter.com/kellylougheed" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  </div>

</body>
</html>
